<%# app/views/welcome/index.html.erb %>

<div class="row">
  <div class="col-md-12">
    <div class="alert alert-success">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Hi there!</strong> This app uses the <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> web framework as a backend, a <a href="http://www.postgresql.org/">PostgreSQL</a> database, <a href="https://facebook.github.io/react/" target="_blank">React.js</a> for the data entry UI (Hours), and <a href="http://d3js.org/" target="_blank">D3.js</a> for data visualisations (Chart panel).
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Chart</div>
      <div class="panel-body">
        <button onclick='updateChart()' class="btn btn-xs btn-default pull-right">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
        <div id="chart"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Hours</div>
      <div class="panel-body">
        <%= react_component 'Hours', { data: @hours } %>
      </div>
    </div>  
  </div>  
</div>
